script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.js" integrity="sha512-9pGiHYK23sqK5Zm0oF45sNBAX/JqbZEP7bSDHyt+nT3GddF+VFIcYNqREt0GDpmFVZI3LZ17Zu9nMMc9iktkCw==" crossorigin="anonymous"
link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.9/cropper.min.css" integrity="sha512-w+u2vZqMNUVngx+0GVZYM21Qm093kAexjueWOv9e9nIeYJb1iEfiHC7Y+VvmP/tviQyA5IR32mwN/5hTEJx6Ng==" crossorigin="anonymous"

section.container
  h1 style="margin-bottom: 1rem;"
    | 画像をアップするぞ〜
  label for="dammy-file" style="display: inline-block; padding: 1rem; border: 1px deepskyblue solid; border-radius: 1em; cursor: pointer;"
  = file_field_tag :dammy_file, id: "dammy-file", style: "display: none;"
    | ここからアップ
  = hidden_field_tag :file

#modal-of-avatar.modal.fade[tabindex="-1" role="dialog" aria-labelledby="modal-of-avatar" aria-hidden="true"]
  .modal-dialog.modal-lg[role="document"]
    .modal-content
      .modal-header
        h5#modal_title_6.modal-title
          | プロフィール写真の変更
        button.close[type="button" data-dismiss="modal" aria-label="Close"]
          span[aria-hidden="true"]
            | ×
      .modal-body
        .img-container-of-avatar
          img#image.mw-100
      .modal-footer
        button.btn.btn-outline-dark.btn-sm.rounded-pill type="button" data-dismiss="modal"
          | キャンセル
        button#crop-submit.btn.btn-sm.btn-primary.rounded-pill type="button"
          | 保存する

javascript:
  window.onload = function() {
    var image = $('#image')[0];
    var dammy_input = $('#dammy-input-of-avatar');
    var modal = $('#modal-of-avatar');
    var cropper;
    dammy_input.on('change', function (e) {
      var files = e.target.files;
      var done = function (url) {
        dammy_input.value = '';
        image.src = url;
        modal.modal('show');
      };
      var reader;
      var file;
      if (files && files.length > 0) {
        file = files[0];
        if (URL) {
          done(URL.createObjectURL(file));
        } else if (FileReader) {
          reader = new FileReader();
          reader.onload = function (e) {
            done(reader.result);
          };
          reader.readAsDataURL(file);
        }
      }
    });
    modal.on('shown.bs.modal', function () {
      cropper = new Cropper(image, {
        aspectRatio: 1,
        viewMode: 3,
      });
    }).on('hidden.bs.modal', function () {
      cropper.destroy();
      cropper = null;
    });
    $('#crop-submit').on('click', function () {
      canvas = cropper.getCroppedCanvas({
        width: 160,
        height: 160,
      });
      canvas.toBlob(function(blob) {
        var fileReader = new FileReader();
        fileReader.onload = function() {
          $("#input-of-avatar").val(this.result);
          $("#avatar-form").submit();
        }
        fileReader.readAsDataURL(blob);
      });
    });
  };
