script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"

#user-list
  = render partial: 'users/user_one', locals: {users: @users}
  = link_to_next_page @users, 'もっと見る', id: 'more-user', remote: true
